.inputbox {
  /* opacity: 0; */
  width: 100%;
  display: grid ;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  border-radius: var(--border-rad-large);
  background-color: var(--secondary);
  padding: 0.5rem 0.75rem;
  box-shadow: var(--box-shadow);
  /* animation: var(--fadeInFast);
    animation-delay: 0.5s; */
}

.inputbox input {
  font-family: inherit;
  font-weight: 700;
  padding: var(--button-padding-small);
  border-radius: var(--border-rad-small);
  color: var(--accent-black);
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.inputbox input::placeholder{
  color: var(--accent-black);
}

.inputbox .input{
  width: 100%;
  display: flex;
}

.inputbox button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--accent-black);
  transition: var(--tranisition-out);
  cursor: pointer;
}
.inputbox button:hover {
  transition: var(--tranisition-in);
  color: var(--primary);
}


.dropdown{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  height: 150px;
  overflow-y: scroll;
}
.dropdown button{
  width: 100%;
  text-align: start;

}


@media (max-width: 1200px) {
  .inputbox {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .inputbox {
    width: 100%;
  }
}
