.main {
  padding: var(--dashboard-padding);
  width: 100%;
}
.welcomeBox {
  padding: var(--dashboard-padding);
  border-radius: var(--border-rad-small);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;

  animation: var(--fadeInFast);
  animation-delay: 0.5s;
}
.welcomeBox p {
  font-weight: 500;
  color: var(--accent-black);
}
.welcomeBox small a {
  color: var(--primary);
  transition: var(--transition-out);
}
.welcomeBox small a:hover {
  color: var(--secondary);
  transition: var(--transition-in);
}

/* GET JOBS COMPONENT */
.DisplayJobs {
  margin-top: 2rem;
  padding: var(--dashboard-padding);
  border-radius: var(--border-rad-small);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  width: 100%;
  opacity: 0;

  animation: var(--fadeInFast);
  animation-delay: 1.25s;
  height: 55svh;
  overflow-y: scroll;
}
.jobListing h3{
  margin-bottom: 1rem;
  color: var(--accent-black);
}

.emptyList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.emptyList svg{
  width: 60px;
  height: 60px;
  color: var(--primary);

}
.emptyList h2{
  font-size: var(--subtitle);
  color: var(--accent-black);
  margin: 1rem 0;
}
.emptyList p{
  color: var(--accent-black);
}
.emptyList p a{
  color: var(--secondary);
  text-decoration: underline;
}

/* STATISTICS BOARD */
.statistics {
  margin-top: 2rem;
  padding: var(--dashboard-padding);
  border-radius: var(--border-rad-small);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  width: 100%;
  opacity: 0;

  animation: var(--fadeInFast);
  animation-delay: 0.75s;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  position: relative;
}
.statistics div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.statistics div small{
  color: var(--main-grey);
  font-size: var(--mini-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.statistics div small .icon{
  width: 5px;
  height: 5px;
}
.statistics div big{
  color: var(--primary);
  font-size: var(--body-text);
  font-weight: 700;
}


@media (max-width: 750px) {
  .welcomeBox p {
    font-size: var(--mini-text);
  }
  .jobListing h3{
   display: none;
  }
  .statistics{
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
  .statistics div small{
    font-size: var(--tiny-text);
  }
  .statistics div big{
    font-size: var(--mini-text);
  }
}
