/* CUSTOM DROPDOWN */
.dropcontainer {
  position: relative;
}
.selection {
  border-radius: var(--border-rad-large);
  background-color: var(--clr-accent-primary-2);
  color: var(--accent-primary);
  padding: 0.75rem;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
.selection svg {
  width: 15px;
  height: 15px;
  color: var(--accent-primary);
}
.selection p {
  font-weight: 500;
  font-family: var(--body-style);
}
.dropdown {
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  top: 110%;
  background-color: var(--main-white);
  border: solid 0.5px var(--accent-grey);
  border-radius: var(--border-rad-large);
  display: grid;
  gap: 0.5rem;
  z-index: 3;

  height: 150px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.dropdown::-webkit-scrollbar {
  display: none;
}
.item {
  width: 100%;
  padding: 0.75rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--accent-primary);
  border-radius: var(--border-rad-large);
  transition: var(--transition-out);
  cursor: pointer;
}
.item p {
  text-align: left;
  font-family: var(--body-style);
}
.item svg {
  width: 10px;
  height: 10px;
}
.item:hover {
  transition: var(--transition-in);
  background-color: var(--accent-primary);
  color: var(--main-white);
}

/* CUSTOM LOCATION SEARCH */
.locdropdown {
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  top: 150%;
  background-color: var(--main-white);
  border: solid 0.5px var(--accent-grey);
  border-radius: var(--border-rad-large);
  display: grid;
  gap: 0.5rem;
  z-index: 3;

  height: 250px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}
.locdropdown::-webkit-scrollbar {
  display: none;
}
.locationItem {
  width: 100%;
  border: none;
  height: 40px;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--accent-grey);
  transition: var(--transition-out);
  color: var(--accent-black);
  border-radius: var(--border-rad-large);
}
.locationItem:hover {
  color: var(--accent-grey);
  background-color: var(--accent-white);
  transition: var(--transition-in);
}
.locationItem svg {
  width: 12px;
  height: 12px;
}
.locationItem p {
  font-family: var(--body-style);
}

/* INFINITE SCROLL COMPONENT */
.listings {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  padding-right: 1rem;
  height: 125svh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: var(--border-rad-large);
}
.listings::-webkit-scrollbar {
  display: none;
}
.informationBox {
  width: 100%;
  padding: 0.25rem 0;
  border-radius: var(--border-rad-large);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
.informationBox span {
  display: flex;
  border-radius: var(--border-rad-large);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--accent-black);
  font-weight: 700;
}

/* MESSAGE MODAL */
.modalBox {
  position: fixed;
  width: 100%;
  height: 100svh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* Apply blur effect */
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalControl {
  width: 400px;
  height: 75%;
  background-color: var(--main-white);
  border-radius: var(--border-rad-large);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modalControl img {
  width: 100%;
  height: auto;
  border-top-left-radius: var(--border-rad-large);
  border-top-right-radius: var(--border-rad-large);
}

.buttons {
  width: 100%;
  padding: 0.75rem 1rem;
  align-items: center;
  display: flex;
  justify-items: center;
}
.buttons button {
  border: none;
  padding: 0.35rem 0.75rem;
  border-radius: var(--border-rad-large);
  background-color: var(--clr-accent-primary-2);
  color: var(--accent-primary);
  transition: var(--transition-out);
  cursor: pointer;
}
.buttons button:hover {
  background-color: var(--main-black);
  color: var(--main-white);
  transition: var(--transition-in);
}

.modalControl .message {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message .box {
  width: 100%;
  height: 100%;
  border: dashed 1px var(--accent-grey);
  border-radius: var(--border-rad-large);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.box svg {
  width: 50px;
  height: 50px;
}
.box h3 {
  font-size: 2rem;
  font-family: var(--body-style);
  color: var(--accent-grey);
}
.box p {
  font-family: var(--body-style);
  color: var(--accent-grey);
  padding: 0 0.75rem;
  text-align: center;
  line-height: 1.5;
}

.modalMessageBox {
  width: 100%;
  padding: 1rem;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.modalMessageBox svg {
  width: 100px;
  height: 100px;
}
.modalMessageBox h3 {
  font-size: 7vw;
  color: var(--accent-black);
}
.modalMessageBox p {
  font-size: var(--subhead);
  color: var(--accent-black);
  width: 70%;
  text-align: center;
}

/* AUTHENTICATION MODAL  */

.modalView {
  width: 500px;
  background-color: var(--main-white);
  border-radius: var(--border-rad-large);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 2rem;
}
.modalView h3 {
  font-size: 1.75rem;
  text-align: center;
  color: var(--accent-black);
  text-align: center;
  font-family: var(--body-style);
}
.modalView p {
  color: var(--accent-grey);
  font-family: var(--body-style);
  text-align: center;
  width: 75%;
}
.modalView .options {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options a {
  padding: 0.5rem 1rem;
  background-color: var(--accent-white);
  border-radius: var(--border-rad-large);
  transition: var(--transition-out);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}
.options a:hover {
  background-color: var(--clr-accent-primary-2);
  transition: var(--transition-in);
}
.options a:hover span small {
  color: var(--accent-primary);
}
.options a svg {
  color: var(--accent-primary);
  width: 30px;
  height: 30px;
}
.options a span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.options a span big {
  color: var(--accent-black);
  font-family: var(--body-style);
  font-weight: 700;
}
.options a span small {
  color: var(--accent-grey);
  font-family: var(--body-style);
}

.auto_app_btn {
  position: absolute;
  right: 1rem;
  border-radius: 999px;
  border: none;
  background-color: var(--clr-accent-primary-2);
  color: var(--accent-black);
  transition: var(--transition-out);
  font-family: var(--body-style);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 12px;
}
.auto_app_btn:hover {
  background-color: var(--accent-secondary);
}
.auto_app_btn svg {
  width: 12px;
  height: 12px;
}

@media (max-width: 750px) {
  .modalControl {
    width: 90%;
    height: 80%;
  }

  .modalMessageBox svg {
    width: 50px;
    height: 50px;
  }
  .modalMessageBox h3 {
    font-size: 8vw;
  }
  .modalMessageBox p {
    font-size: var(--body-text);
    width: 100%;
  }

  .modalView {
    width: 85%;
    padding: 0;
  }

  .container {
    margin-top: 3.5rem;
    flex-direction: column;
  }
  .imagebox {
    width: 100%;
  }
  .infobox {
    width: 100%;
  }

  .infobox h2 {
    font-size: var(--subtitle);
  }
  .infobox h4 {
    font-size: var(--mini-text);
  }
}
