/* Sign Up Form */
.main {
  background-color: var(--main-white);
  min-height: auto;
}
.signup {
  display: flex;
}
.signup .image {
  width: 50%;
  height: 90svh;
  background-image: url("/signupbackground.svg");
  background-position: center;
  background-size: cover;
}

.signUpFormBox {
  background-color: var(--main-white);
  padding: var(--container-padding-large);
  width: 50%;
  min-height: 90svh;
}
.title {
  display: flex;
  flex-direction: column;
  animation: var(--fadeInFast);
}
.title big {
  letter-spacing: 3px;
  font-size: var(--body-text);
  color: var(--accent-black);
  font-weight: 600;
}
.title h1 {
  font-size: var(--heading);
  color: var(--main-black);
}
.title h1 span {
  color: var(--primary);
}
.title small {
  font-size: var(--body-text);
  color: var(--accent-black);
  font-weight: 600;
  margin-top: 0.5rem;
}
.title small a {
  color: var(--primary);
  text-decoration: underline;
}

/* Form Items */
.signUpFormBox form {
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  opacity: 0;

  animation: var(--fadeInFast);
  animation-delay: 0.5s;
}
.signUpFormBox form h2 {
  font-size: var(--subtitle);
  color: var(--primary);
}
.signUpFormBox form p {
  padding: 0.75rem 0;
  color: var(--accent-black);
  line-height: 2;
}
.signUpFormBox .verification {
  width: 100%;
  height: 80%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: red;

  animation: var(--fadeInFast);
  animation-delay: 0.5s;
}

.inputBox {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: var(--border-rad-large);
  background-color: var(--accent-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputBox span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  width: 100%;
}
.inputBox small {
  font-size: var(--tiny-text);
  color: var(--primary);
}
.inputBox input {
  background-color: transparent;
  padding: 0.5rem 0;
  border: none;
  width: 90%;

  font-weight: 600;
  color: var(--accent-black);
  font-family: var(--body-style);
  outline: none;
}
.inputBox select {
  background-color: transparent;
  padding: 0.5rem 0;
  border: none;
  width: 90%;

  font-weight: 600;
  color: var(--accent-grey);
  font-family: var(--body-style);
  outline: none;
}

.inputBox input::placeholder {
  color: var(--accent-grey);
}
.inputBox .icon {
  color: var(--primary);
  width: 20px;
  height: 20px;
}

.jobTitleDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
  grid-column: 1 / -1;
}
.jobTitleDisplay small {
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  border-radius: var(--border-rad-small);
  font-size: var(--tiny-text);
  color: var(--accent-white);
  transition: var(--transition-out);
  padding: 0.75rem 2rem;
  cursor: pointer;
}
.jobTitleDisplay small:hover {
  background-color: var(--secondary);
  transition: var(--transition-in);
}
.jobTitleDisplay p {
  color: var(--accent-grey) !important;
}

.skillsDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));
  gap: 0.5rem;
  grid-column: 1 / -1;
}
.skillsDisplay small {
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  font-size: var(--tiny-text);
  border-radius: var(--border-rad-small);
  color: var(--accent-white);
  transition: var(--transition-out);
  padding: 0.75rem 2rem;
  cursor: pointer;
}
.skillsDisplay small:hover {
  background-color: var(--secondary);
  transition: var(--transition-in);
}
.skillsDisplay p {
  grid-column: 1 / -1;
  color: var(--accent-grey) !important;
}

/* Login */
.login {
  display: flex;
}
.login .image {
  width: 50%;
  height: 90svh;
  background-image: url("/loginbackground.svg");
  background-position: center;
  background-size: cover;
}

.loginFormBox {
  background-color: var(--main-white);
  padding: var(--container-padding-large);
  width: 50%;
  min-height: 90svh;
}
.loginFormBox form {
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  opacity: 0;

  animation: var(--fadeInFast);
  animation-delay: 0.5s;
}

.forgotPasswordPrompt{
  font-size: var(--body-text);
  color: var(--accent-black);
  font-weight: 600;
  margin-top: 0.5rem;
}
.forgotPasswordPrompt a {
  color: var(--primary);
  text-decoration: underline;
}

/* Mobile Version */
@media (max-width: 750px) {
  .signup {
    flex-direction: column;
  }
  .signup .image {
    width: 100%;
    height: 30svh;
  }
  .signUpFormBox {
    padding: var(--container-padding-regular);
    width: 100%;
    min-height: 50svh;
  }
  .signUpFormBox h1 {
    font-size: 2.25rem;
  }
  .signUpFormBox form {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .skillsDisplay {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .inputBox {
    grid-column: 1 / -1 !important;
  }
  .signUpFormBox form button {
    grid-column: 1 / -1;
  }

  .login {
    flex-direction: column-reverse;
  }
  .login .image {
    width: 100%;
    height: 30svh;
  }
  .loginFormBox {
    width: 100%;
    padding: var(--container-padding-regular);
    min-height: 50svh;
  }
  .loginFormBox h1 {
    font-size: 2.25rem;
  }
}
