/* Hero Section */
.hero {
  min-height: 80svh;
  background: linear-gradient(
    var(--primary),
    25%,
    var(--main-white) 75%,
    var(--main-white)
  );
  padding: var(--container-padding-large);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.heroButton {
  display: none;
}
.heroInteraction {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 2.5rem;
  padding-block: 2rem;
}
.heroPrompt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.heroInteraction h1 {
  text-align: left;
  width: 90%;
  /* opacity: 0; */
  font-size: var(--title);
  color: var(--main-black);
  /* animation: var(--fadeInFast); */
}
.heroInteraction h1 span {
  color: var(--accent-primary);
}
.heroInteraction h1 svg {
  color: var(--accent-primary);
}

.popularBox {
  width: 100%;
}
.popularBox p {
  width: 100%;
  font-size: var(--subhead);
  color: var(--accent-black);
  font-weight: 700;
  margin: 1rem 0;
}
.popular {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.heroImageBox {
  width: 50%;
  height: 70svh;
  position: relative;
}
.heroImageBox img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  /* opacity: 0; */
  left: 0;
  right: 0;
  margin-inline: auto;
  object-fit: contain;
  /* animation: var(--fadeInFast);
  animation-delay: 1s; */
}
.mobileImg {
  display: none;
}
.desktopImg {
  display: block;
}

/* Job Boards Section */
.jobBoards {
  background-color: var(--main-white);
  padding: var(--container-padding-regular);
  text-align: center;
}
.jobBoards h2 {
  font-size: var(--subhead);
  font-weight: 700;
}
.jobBoards div {
  display: grid;
  width: 70%;
  margin: 0.5rem auto;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem;
  gap: 1rem;
}
.jobBoards span {
  width: 100%;
  /* background-color: var(--accent-white); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
}
.jobBoards span img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

/* Process Section */
.process {
  background-color: var(--main-white);
  padding: var(--container-padding-large);
  padding-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.process p {
  font-size: var(--mega-text);
  color: var(--main-black);
  font-weight: 700;
  width: 50%;
  animation: var(--scrollIn);
  scale: 0.5;
  opacity: 0;
  animation-timeline: view();
  animation-range-start: entry;
  animation-range-end: contain;
}
.process p span {
  color: var(--accent-primary);
}
.process .customerExample {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.exampleBox {
  width: 100%;
  opacity: 0;
  border-radius: var(--border-rad-large);
  animation: var(--fadeInFast);
  animation-timeline: view();
  animation-range: 250px 700px;
}
.process .customerExample > .exampleBox:nth-child(2) {
  animation-delay: 0.75s;
}
.exampleBox img {
  width: 100%;
  height: 40svh;
  object-fit: cover;
}
.information {
  padding: var(--button-padding-regular);
  color: var(--main-white);
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.information > small:first-child {
  color: var(--secondary);
}
.information .icon {
  width: 15px;
  height: 15px;
}

/*Easy Steps Section */
.easySteps {
  padding: var(--container-padding-large);
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.easySteps h3 {
  font-size: var(--title);
  color: var(--main-black);
}
.easySteps big {
  font-family: var(--body-style);
  font-size: var(--subtitle);
  font-weight: 600;
  color: var(--main-grey);
}

.graphicDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  margin: 1.5rem 0;
}

/* Features Section */
.auto {
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--main-white);
}
.auto .information {
  background: radial-gradient(
    circle,
    rgba(154, 170, 177, 0.5) 0%,
    rgba(252, 253, 253, 1) 70%
  );

  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.auto .information h2 {
  font-size: var(--title);
  color: var(--accent-black);
}
.information h2 span {
  color: var(--accent-primary);
}
.auto .information small {
  align-self: flex-start;
  color: var(--accent-primary);
  background-color: var(--clr-accent-primary-2);
  font-weight: 600;
  padding: 0.35rem 0.75rem;
  border-radius: var(--border-rad-large);
}
.auto .information big {
  align-self: flex-start;
  font-weight: 600;
  color: var(--accent-primary);
  font-family: var(--body-style);
}
.auto .information p {
  line-height: 1.75;
  color: var(--accent-black);
  font-weight: 600;
  font-family: var(--body-style);
}
.auto .information .features {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 0.75rem;
}
.auto .information .features .featuredisplay {
  background-color: var(--clr-accent-primary-2);
  color: var(--accent-black);
  font-family: var(--body-style);
  border-radius: var(--border-rad-large);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}

.auto .imagebox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagebox img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  z-index: 2;
}

.circle {
  opacity: 0.75;
  max-width: 350px;
  height: 50%;
  background-color: var(--accent-primary);
  border-radius: 9999px;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  filter: blur(60px);
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroInteraction {
    width: 100%;
  }
  .heroInteraction h1 {
    width: 100%;
    font-size: 3.5rem;
  }
  .heroImageBox img {
    object-fit: contain;
  }
  .mobileImg {
    display: block;
  }
  .desktopImg {
    display: none;
  }

  .popular {
    flex-wrap: wrap;
  }
  .jobBoards div {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .hero {
    padding: var(--container-padding-regular);
    flex-direction: column;
  }
  .heroInteraction {
    width: 100%;
  }
  .heroInteraction h1 {
    font-size: 2rem;
    animation-delay: 0.75s;
    width: 100%;
  }
  .heroPrompt {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .heroImageBox {
    width: 100%;
  }
  .heroImageBox img {
    animation-delay: 2s;
  }
  .heroButton {
    display: block;
    opacity: 0;
    animation: var(--fadeIn);
    animation-delay: 1.5s;
  }

  .jobBoards {
    padding: var(--container-padding-regular);
  }
  .jobBoards div {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .process {
    flex-direction: column;
    padding: var(--container-padding-regular);
  }
  .process p {
    font-size: var(--subtitle);
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .process .customerExample {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
    width: 100%;
  }

  .easySteps {
    padding: var(--container-padding-regular);
  }

  .easySteps h3 {
    font-size: 2rem;
  }
  .easySteps big {
    font-size: 1rem;
    text-align: center;
  }

  .popular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  .auto {
    padding: var(--container-padding-regular);
    grid-template-columns: 1fr;
  }
  .auto {
    grid-template-columns: 1fr;
  }
  .auto .information {
    padding: 1rem;
  }
  .auto .information h2 {
    font-size: 1.75rem;
  }
  .auto .information big {
    font-size: 0.95rem;
  }
  .auto .information p {
    font-size: 0.8rem;
  }
}
