/* ROOT VARIABLES  */
:root {
  /* COLORS */
  --main-black: #21282B ;
  --accent-black: #384348;

  --main-white: #FCFDFD;
  --accent-white: #EBEEEF;

  --main-grey: #D4DBDE;
  --accent-grey: #9AAAB1;

  --primary: #9DACFF;
  --accent-primary: #8093FF;

  --secondary: #DDDBFB;
  --accent-secondary: #C7C3F8;

  --error: #E34234;
  --success: #77DD77;

  /* TEXT */
  --title: 2.35vw;
  --heading: 2.75rem;
  --subtitle: 1.7rem;
  --subhead: 1.3rem;
  --body-text: 1rem;
  --mini-text: 0.85rem;
  --tiny-text: 0.625rem;

  /* Container and Formatting */
  --border-rad-small: 5px;
  --border-rad-large: 15px;

  --container-padding-large: 1.75rem 4rem;
  --container-padding-regular: 1rem 1.25rem;

  --navigation-padding-regular: 2rem 4rem;
  --navigation-padding-mobile: 1rem 1.5rem;

  --button-padding-regular: 0.75rem 2rem;
  --button-padding-small: 0.5rem 0.75rem;

  /* MISC UTILITIES */
  --transition-in: 0.3s ease-in-out;
  --transition-out: 0.65s ease-in-out;

  --fadeIn: fadeIn 2.5s ease forwards;
}

/* CSS NORMAILIZE */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* UTILITY CLASSES */
.logo{
  color: var(--main-black);
  font-size: var(--subtitle);
  transition: var(--transition-out);
  font-weight: 700;
}
.logo:hover{
  color: var(--accent-primary);
  transition: var(--transition-in);
}

.main-button{
  background-color: var(--main-black);
  color: var(--accent-white);
  padding: var(--button-padding-regular);
  border-radius: var(--border-rad-large);
  font-size: var(--mini-text);
  transition: var(--transition-out);
  border: none;
}
.main-button:hover{
  background-color: var(--main-white);
  color: var(--accent-black);
  transition: var(--transition-in);
}

.secondary-button{
  background-color: var(--main-white);
  color: var(--accent-black);
  padding: var(--button-padding-regular);
  border-radius: var(--border-rad-large);
  font-size: var(--mini-text);
  transition: var(--transition-out);
  border: none;
}
.secondary-button:hover{
  background-color: var(--main-black);
  color: var(--accent-white);
  transition: var(--transition-in);
}

.grid-3x-display{
  width: 100%;
  padding: var(--container-padding-regular);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(100px); 
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* MEDIA QUERY */
@media (max-width:750px) {

}