.graphicCard {
  width: 350px;
  border-radius: 3.5px;
  background-color: var(--main-white);
  box-shadow: var(--box-shadow);
}
.graphicCard .imagebox {
  width: 100%;
  background-color: var(--accent-black);
  height: 300px;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}
.imagebox img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.95;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}

.graphicCard .infobox {
  width: 100%;
  padding: 1.5rem 1rem;
  text-align: left;
}
.infobox h2 {
  color: var(--primary);
  font-size: var(--subhead);
  font-weight: 500;
}
.infobox a {
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  border: solid 1px var(--primary);
  border-radius: var(--border-rad-large);

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  font-size: var(--mini-text);
  gap: 2rem;
  transition: var(--transition-out);
}
.infobox a:hover {
  transition: var(--transition-in);
  background-color: var(--primary);
  color: var(--main-white);
}
.infobox p {
  font-size: var(--mini-text);
  color: var(--primary);
  font-weight: 200;
  line-height: 1.75;
  margin-block: 0.75rem;
}
.feature {
  width: 275px;
  height: 350px;
  padding: 2.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--primary);
  border-radius: var(--border-rad-large);
  box-shadow: var(--box-shadow);
}
.feature span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.feature svg {
  width: 40px;
  height: 40px;
  color: var(--main-white);
  margin: auto;
}
.feature h2 {
  font-size: 2.5rem;
  color: var(--main-white);
  text-align: center;
}
.feature p {
  text-align: center;
  font-size: var(--body-text);
  color: var(--main-white);
}

.jobFeatureCard {
  background-color: var(--primary);
  border-radius: var(--border-rad-large);
  box-shadow: var(--box-shadow);
  color: var(--main-white);
  transition: var(--transition-out);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem;
}
.jobFeatureCard:hover {
  transition: var(--transition-in);
  color: var(--accent-black);
  background-color: var(--secondary);
}
.jobFeatureCard svg {
  width: 15px;
  height: 15px;
}
.jobFeatureCard small {
  font-size: var(--tiny-text);
}

@media (max-width: 1200px) {
  .graphicCard {
    width: 325px;
  }

  .feature {
    padding: 1.5rem;
    width: 250px;
    height: 300px;
    justify-content: center;
  }
  .feature svg {
    width: 35px;
    height: 35px;
  }
  .feature h2 {
    font-size: var(--subtitle);
  }
}
@media (max-width: 750px) {
  .jobFeatureCard {
    min-width: none;
    width: 100%;
  }
}
