@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.graphicCard {
  width: 350px;
  border-radius: 3.5px;
  background-color: var(--main-white);
  box-shadow: var(--box-shadow);
}
.graphicCard .imagebox {
  width: 100%;
  background-color: var(--accent-black);
  height: 300px;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}
.imagebox img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.95;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}

.graphicCard .infobox {
  width: 100%;
  padding: 1.5rem 1rem;
  text-align: left;
}
.infobox h2 {
  color: var(--primary);
  font-size: var(--subhead);
  font-weight: 500;
}
.infobox a {
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  border: solid 1px var(--primary);
  border-radius: var(--border-rad-large);

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  font-size: var(--mini-text);
  gap: 2rem;
  transition: var(--transition-out);
}
.infobox a:hover {
  transition: var(--transition-in);
  background-color: var(--primary);
  color: var(--main-white);
}
.infobox p {
  font-size: var(--mini-text);
  color: var(--primary);
  font-weight: 200;
  line-height: 1.75;
  margin-block: 0.75rem;
}

.feature {
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  background-color: rgba(0, 0, 0, 0.045);
  border-radius: var(--border-rad-large);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}
.feature small {
  color: var(--accent-primary);
}
.feature .info {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.feature .info h2 {
  text-align: left;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: var(--accent-black);
  margin: 0;
}
.feature .info p {
  color: var(--accent-grey);
  font-family: var(--body-style);
}
.feature button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.15rem;
  color: var(--accent-primary);
  transition: var(--transition-out);
  border: none;
  cursor: pointer;
}
.feature button:hover {
  transition: var(--transition-in);
  padding-left: 1rem;
  color: var(--accent-black);
}

.jobFeatureCard {
  background-color: var(--clr-accent-primary-2);
  border-radius: var(--border-rad-large);
  color: var(--accent-primary);
  transition: var(--transition-out);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 0.5rem;
}
.jobFeatureCard:hover {
  transition: var(--transition-in);
  color: var(--accent-black);
  background-color: var(--secondary);
}
.jobFeatureCard svg {
  width: 15px;
  height: 15px;
}
.jobFeatureCard small {
  font-size: var(--tiny-text);
  font-family: var(--body-style);
}

@media (max-width: 1200px) {
  .graphicCard {
    width: 325px;
  }
}
@media (max-width: 750px) {
  .jobFeatureCard {
    min-width: none;
    width: 100%;
  }
}
