.main {
  padding: var(--dashboard-padding);
  position: relative;
  width: 100%;
}
.searchBox {
  width: 100%;
  margin-bottom: 3rem;
  display: grid;
  gap: 1rem;
}

.inputBox {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: var(--border-rad-large);
  background-color: var(--accent-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;

  animation: var(--fadeInFast);
}
.inputBox span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;
  width: 100%;
}
.inputBox small {
  font-size: var(--tiny-text);
  color: var(--primary);
}
.inputBox input {
  background-color: transparent;
  padding: 0.5rem 0;
  border: none;
  width: 90%;

  font-weight: 600;
  color: var(--accent-black);
  font-family: var(--body-style);
  outline: none;
}
.inputBox input::placeholder {
  color: var(--accent-grey);
}
.inputBox select {
  background-color: transparent;
  padding: 0.5rem 0;
  border: none;
  width: 90%;

  font-weight: 600;
  color: var(--accent-grey);
  font-family: var(--body-style);
  outline: none;
}
.inputBox .icon {
  color: var(--primary);
  transition: var(--transition-out);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.inputBox .icon:hover {
  transition: var(--transition-in);
  color: var(--secondary);
}

.filterSpan div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    padding: 0.5rem 0;
    gap: 0.5rem;
}
.filterSpan div select{
    width: 100%;
    background-color: var(--main-white);
    border-radius: var(--border-rad-small);
    color: var(--accent-grey);
    padding: 0.5rem;
    font-size: var(--tiny-text);
}

.dropdown {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  padding: 0.5rem 1rem;
  border-radius: var(--border-rad-large);
  background-color: var(--accent-white);
  display: grid;
  gap: 0.75rem;
}
.dropdown div {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: var(--border-rad-large);
  color: var(--accent-black);
  transition: var(--transition-out);
}
.dropdown div:hover {
  transition: var(--transition-in);
  background-color: var(--accent-primary);
  color: var(--main-white);
}

.searchDisplay{
  width: 100%;
  height: 60svh;
  border-radius: var(--border-rad-small);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  overflow-y: scroll;
  animation: var(--fadeInFast);
}
.noJobs{
  width: 100%;
  height: 60svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  text-align: center;
}
.noJobs p{
  color: var(--primary);
  font-weight: 500;
}
.noJobs small{
  font-weight: 200;
  color: var(--accent-black);
}
.jobListing{
  width: 100%;
  padding: var(--dashboard-padding);
}