.modalback {
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 0;
  left: 0;
  background-color: rgba(56, 67, 72, 0.75);
  backdrop-filter: blur(3.5px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalbox {
  width: 450px;
  height: 70%;
  background-color: var(--main-white);
  border-radius: var(--border-rad-large);
  box-shadow: var(--box-shadow);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.modalbox h2 {
  font-family: var(--body-style);
  color: var(--accent-black);
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}
.modalbox small {
  font-family: var(--body-style);
  color: var(--accent-grey);
}

.upload {
  width: 100%;
  margin-top: 1rem;
  animation: var(--fadeInFast);
  border: dashed 1px var(--accent-grey);
  border-radius: var(--border-rad-large);

  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.upload svg {
  color: var(--accent-grey);
}
.upload p {
  font-family: var(--body-style);
  color: var(--accent-grey);
}
.upload p label {
  text-decoration: underline;
  color: var(--clr-accent-primary-2);
  cursor: pointer;
}

.filedisplay {
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--accent-white);
}
.filedisplay span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.filedisplay span big {
  font-family: var(--body-style);
  font-size: 1rem;
  color: var(--accent-grey);
}
.filedisplay svg {
  color: var(--accent-grey);
}

.buttons {
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  border-top: solid 0.5px var(--accent-grey);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.buttons #cancel {
  font-family: var(--body-style);
  border: none;
  background-color: transparent;
  border: solid 0.5px var(--accent-grey);
  border-radius: var(--border-rad-large);
  transition: var(--transition-out);
  color: var(--accent-grey);
  font-weight: 600;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
}
.buttons #upload {
  font-family: var(--body-style);
  border: none;
  background-color: var(--clr-accent-primary-2);
  border-radius: var(--border-rad-large);
  color: var(--accent-primary);
  transition: var(--transition-out);
  font-weight: 600;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
}
.buttons #cancel:hover {
  transition: var(--transition-in);
  background-color: var(--accent-black);
  color: var(--main-white);
}
.buttons #upload:hover {
  transition: var(--transition-in);
  background-color: var(--accent-black);
  color: var(--main-white);
}

.loading {
  margin-top: 1rem;
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.loading p {
  font-family: var(--body-style);
  color: var(--accent-grey);
}
.loading svg {
  color: var(--accent-grey);
  animation: spin 1s linear infinite;
}

.complete {
  width: 100%;
  flex-grow: 1;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.complete svg {
  width: 75px;
  height: 75px;
  color: var(--success);
}
.complete big {
  font-family: var(--body-style);
  font-weight: 700;
  color: var(--accent-black);
}
.complete button {
  font-family: var(--body-style);
  border: none;
  background-color: var(--clr-accent-primary-2);
  border-radius: var(--border-rad-large);
  color: var(--accent-primary);
  transition: var(--transition-out);
  font-weight: 600;
  padding: 0.35rem 0.75rem;
  cursor: pointer;
}
.complete button:hover {
  transition: var(--transition-in);
  background-color: var(--accent-black);
  color: var(--main-white);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .modalbox {
    padding: 1.5rem;
    width: 90%;
    height: 90%;
  }
}
